/* Styling used for all HTML pages of Practice project */
/* Created by: YasmeenNoorDV */
/* Creation date: 2 March 2023 */

body{
	background-color: #146C94;
	color: #F6F1F1;
	font-size: 20px;
	text-align: center;
}

h1{
	font-family: Georgia, serif;
}

p{
	font-family: Georgia, monospace;
}

a{
	color: #19A7CE;
}
a:link{
	text-decoration: none;
}
a:visited{
	text-decoration: none;
}
a:hover{
	color: #F6F1F1;
	text-decoration: underline;
}
a:active{
	background-color: #AFD3E2;
	text-decoration: none;
}

#header{
	background-color: #AFD3E2;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: 0px 0px 25px 25px;
}

#content{
	margin-top: 30px;
	width: 100%;
}

#footer{
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
