body{
	background-color: #11224D;
	color: #F5F5F5;
}

h1{
}

#header{
	background-color: #2C599D;
	text-align: center;
	padding: 3px;
	margin-bottom: 2px;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

#content{
	text-align: center;
	padding: 3px;
	width: 100%;
}

#footer{
	text-align: center;
	padding: 3px;
	margin-top: 2px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
